.Container {
  position: fixed;
  top: 0;
  background: rgba(53, 53, 53, 0.144);
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 15px;
}

.logo {
  height: 1.5em;
}